.page {
  height: 100%;
  width: 100%;
  position: fixed;
}
.new_club {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 24%;
  right: 20rpx;
  border-radius: 50%;
  width: 100rpx;
  height: 100rpx;
  padding: 20rpx;
  background-color: #ffffff;
  box-shadow: 20rpx 20rpx 30rpx 0.1rpx rgb(228, 228, 228);
  color: #8bc34b;
  font-size: 28rpx;
  font-weight: 550;
  z-index: 1000;
  position: fixed;
}
.club{
  position: relative;
  width: 100%;
  height: 100%;
}

.btn_return{
  position: absolute;
  top: 80rpx;
  right: 20rpx;
  padding: 20rpx 50rpx;
  font-size: 24rpx;
  font-weight: 600;
  background: #f4f4f49a;
  border-radius: 25rpx;
}

.bd{
  filter: blur(5px);
  width: 100%;
  height: 30%;
}

.show{
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 300rpx;
  left: 0rpx;
}

.show>image{
  height: 100%;
}

.club_head{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 20%;
  left: 0;
}

.club_head>image{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20rpx;
  width: 200rpx;
  height: 200rpx;
  border-radius: 50%;
}

.club_head>view{
  margin-top: 10rpx;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ke_detail{
  background: #ffffffea;
  border-radius: 25rpx;
  margin: 20rpx;
  height: 60%;
  display: flex;
  flex-direction: column;
  width: 95%;
  align-items: center;
  padding-top: 17%;
  font-size: 20rpx;
  font-weight: 600;
  white-space: pre-wrap
}

.content{
  margin: 20rpx;
  white-space: pre-wrap;
  word-break: break-all;
  font-size: 30rpx;
  font-weight: 5000;
}

.btn_join{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10%;
  right: 60rpx;
  background: #2fa3da;
  color: #ffffff;
  padding: 30rpx 30rpx;
  border-radius: 25rpx;
  font-size: 25rpx;
  font-weight: 600;
  opacity: 0.6;
}


@media (prefers-color-scheme: dark) {
  .ke_detail {
      filter: invert(0%) !important;
  }

  .bd{
    opacity: 0.4;
  }

  .head_img{
    z-index: 1000;
  }
}