page {
    background-color: #f6f6f6;
}
.wrap {
    padding: 24rpx;
    margin: 24rpx;
    border-radius: 24rpx;
    font-size: 32rpx;
    background-color: white;
}
.wrap .title {
    text-align: center;
    color: #63a1a0;
    font-weight: 700;
    font-size: 34rpx;
}
.wrap .list_wrap {
    padding-top: 12rpx;
}
.handle2 {
    font-size: 28rpx;
    background-color: rgba(245, 245, 245, 0.9);
    padding-top: 20rpx;
    padding-left: 20rpx;
    color: rgba(151, 151, 151);
}
.wrap .list_wrap .list {
    display: flex;
    flex-direction: row;
    padding-top: 28rpx;
    align-items: center;
}
.wrap .list_wrap .list .caption {
    display: flex;
    align-items: center;
    font-size: 28rpx;
    min-width: 180rpx;
}
.wrap .list_wrap .list .handle {
    background-color: rgba(245, 245, 245, 0.9);
    border-radius: 12rpx;
    flex: 1;
    display: flex;
    padding: 12rpx;
    align-items: center;
    font-size: 28rpx;
    color: rgba(16, 16, 16, 0.6);
}
.wrap .bt_wrap {
    display: flex;
    justify-content: center;
    padding-bottom: 24rpx;
    margin-top: 24rpx;
}
.wrap .bt_wrap .certain {
    font-size: 30rpx;
    text-align: center;
    width: 100%;
    background-color: #63a1a0;
    /* padding: 18rpx; */
    margin-top: 24rpx;
    border-radius: 18rpx;
    color: white;
}

@media (prefers-color-scheme: dark) {
    .title {
        filter: invert(100);
    }
    .handle2 {
        filter: invert(0);
        color: black;
        border-radius: 24rpx;
        padding-left: 10rpx;
        padding-top: 10rpx;
    }
}
