/* pages/association/activity_schedule/activity_schedule.wxss */
page {
    background: #f5f5f5;
}

scroll-view {
    filter: invert(1) !important;
}

view,
scroll-view,
swiper,
button,
input,
textarea,
label,
navigator,
image {
    box-sizing: border-box;
}
.bg-white {
    background-color: white;
    color: darkGray;
}
.cu-bar {
    display: flex;
    position: relative;
    align-items: center;
    min-height: 100rpx;
    justify-content: space-between;
}
.solid-bottom {
    position: relative;
}

.cu-bar .action:first-child {
    margin-left: 30rpx;
    font-size: 30rpx;
}
.cu-bar .action {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    max-width: 100%;
}

.cu-bar .action:first-child > text[class*='cuIcon-'] {
    margin-left: -0.3em;
    margin-right: 0.3em;
    color: black;
}

.action_text {
    color: black;
}

.cu-card.dynamic {
    display: block;
}
.cu-card {
    display: block;
    overflow: hidden;
}

.cu-card.dynamic > .cu-item {
    display: block;
    background-color: white;
    overflow: hidden;
}
.cu-card > .cu-item {
    display: block;
    background-color: white;
    overflow: hidden;
    border-radius: 10rpx;
    border-top: 2rpx solid #f5f5f5;
    border-bottom: 2rpx solid #f5f5f5;
    /* margin: 30rpx; */
}

.cu-list.menu-avatar {
    overflow: hidden;
}

.cu-list.menu-avatar > .cu-item {
    position: relative;
    display: flex;
    padding-right: 10rpx;
    height: 140rpx;
    background-color: white;
    justify-content: flex-end;
    align-items: center;
}
.cu-list > .cu-item {
    transition: all 0.6s ease-in-out 0s;
    transform: translateX(0rpx);
}

.cu-list.menu-avatar > .cu-item > .cu-avatar {
    position: absolute;
    left: 30rpx;
}
.cu-avatar.lg {
    width: 96rpx;
    height: 96rpx;
    font-size: 2em;
}
.cu-avatar {
    font-variant: small-caps;
    margin: 0;
    padding: 0;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    color: white;
    white-space: nowrap;
    position: relative;
    width: 64rpx;
    height: 64rpx;
    background-size: cover;
    background-position: center;
    vertical-align: middle;
    font-size: 1.5em;
}
.round {
    border-radius: 5000rpx;
}

.flex-sub {
    flex: 1;
}
.cu-list.menu-avatar > .cu-item .content.flex-sub {
    width: calc(100% - 96rpx - 60rpx - 20rpx);
}
.cu-list.menu-avatar > .cu-item .content {
    position: absolute;
    left: 146rpx;
    width: calc(100% - 96rpx - 60rpx - 120rpx - 20rpx);
    line-height: 1.6em;
}
.cu-list.menu-avatar > .cu-item .content > view:first-child {
    font-size: 30rpx;
    display: flex;
    align-items: center;
}
.text-gray,
.line-gray,
.lines-gray {
    color: gray;
}
.text-sm {
    font-size: 24rpx;
}
.justify-between {
    justify-content: space-between;
}
.flex {
    display: flex;
}
.text-content {
    line-height: 1.6;
}
.cu-card.dynamic > .cu-item > .text-content {
    padding: 0 30rpx 0;
    max-height: 6.4em;
    overflow: hidden;
    font-size: 30rpx;
    margin-bottom: 20rpx;
}
.padding-lr {
    padding-left: 30rpx;
    padding-right: 30rpx;
}
.grid {
    display: flex;
    flex-wrap: wrap;
}
.flex-sub {
    flex: 1;
}
.bg-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.grid.col-1 > view {
    width: 100%;
}
.cu-card.dynamic > .cu-item .only-img {
    width: 100%;
    height: 320rpx;
    border-radius: 6rpx;
}
.text-gray,
.line-gray,
.lines-gray {
    color: gray;
}
.text-right {
    text-align: right;
}
.text-sm {
    font-size: 24rpx;
}
.padding {
    padding: 30rpx;
}

.nav {
    display: flex;
    justify-content: space-around;
    padding: 20rpx;
    font-size: 30rpx;
    height: 109rpx;
}
.nav_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bottomline {
    width: 41rpx;
    height: 5rpx;
    background: #000;
    border-radius: 50rpx;
    margin: 15rpx auto;
}
.bottomline_close {
    width: 41rpx;
    height: 5rpx;
    /* background: #000; */
    border-radius: 20rpx;
    margin: 15rpx auto;
}
.nav-switch-style {
    color: black;
    font-size: 28rpx;
    letter-spacing: 3rpx;
}
.nav-switch-style-close {
    color: gray;
}
.box {
    height: calc(100vh - 109rpx);
    width: 100%;
}
.style-roll {
    height: auto;
    width: 100%;
    overflow-x: scroll;
}
.swiperitem {
    height: auto;
    width: 100vw;
}
/* .textbox{
  height: 90rpx;
  width: 100%;
  background-color: red;
} */
.style-roll .swiperbox {
    height: 100%;
    width: 100%;
}
.style-roll .swiperbox2 {
    height: 100%;
    width: 100%;
}
.showgroup_card {
    width: 100vw;
    height: 90vh;
    margin-top: 8rpx;
}
.scrollView {
    width: 100vw;
    height: 100%;
}

.showgroup_box_turninto {
    position: absolute;
    bottom: 30rpx;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.showgroup_box_turninto > view {
    height: 98rpx;
    width: 450rpx;
    border-radius: 80rpx;
    text-align: center;
    line-height: 98rpx;
    background: #7c66f5;
    color: white;
}

.VerticalBox {
    display: flex;
}

.VerticalNav.nav2 {
    width: 200rpx;
    white-space: initial;
}

.VerticalNav.nav2 .cu-item.cur {
    background-color: #f1f1f1;
}
.VerticalNav.nav2 .cu-item {
    width: 100%;
    text-align: center;
    background-color: #fff;
    margin: 0;
    border: none;
    height: 50px;
    position: relative;
}
/* .text-green, .line-green, .lines-green {
  color: green;
} */
.nav2 .cu-item.cur {
    border-bottom: 4rpx solid #f5f5f5;
}
.nav2 .cu-item {
    height: 90rpx;
    /* 这么神奇的地方 */
    /* display: inline-block; */
    line-height: 90rpx;
    margin: 0 10rpx;
    padding: 0 20rpx;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.VerticalNav.nav2 .cu-item.cur::after {
    content: '';
    width: 8rpx;
    height: 30rpx;
    border-radius: 10rpx 0 0 10rpx;
    position: absolute;
    background-color: currentColor;
    top: 0;
    right: 0rpx;
    bottom: 0;
    margin: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 5px;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
}

.VerticalMain {
    background-color: #f1f1f1;
}

.padding-lr {
    padding-left: 30rpx;
    padding-right: 30rpx;
}
.padding-top {
    padding-top: 30rpx;
}

.bg-white {
    background-color: white;
    color: darkGray;
}
.cu-bar {
    display: flex;
    position: relative;
    align-items: center;
    min-height: 100rpx;
    justify-content: space-between;
}
.solid,
.solid-top,
.solid-right,
.solid-bottom,
.solid-left,
.solids,
.solids-top,
.solids-right,
.solids-bottom,
.solids-left,
.dashed,
.dashed-top,
.dashed-right,
.dashed-bottom,
.dashed-left {
    position: relative;
}
.cu-bar .action:last-child {
    margin-right: 30rpx;
}
.cu-bar .action:first-child {
    margin-left: 30rpx;
    font-size: 30rpx;
}
.cu-bar .action {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    max-width: 100%;
}
.solid-bottom::after {
    border-bottom: 1rpx solid rgba(0, 0, 0, 0.1);
    border-bottom-width: 0.5px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.1);
}
.solid::after,
.solid-top::after,
.solid-right::after,
.solid-bottom::after,
.solid-left::after,
.solids::after,
.solids-top::after,
.solids-right::after,
.solids-bottom::after,
.solids-left::after,
.dashed::after,
.dashed-top::after,
.dashed-right::after,
.dashed-bottom::after,
.dashed-left::after {
    content: ' ';
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
    transform: scale(0.5);
    transform-origin: 0 0;
    pointer-events: none;
    box-sizing: border-box;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}

[class*='cuIcon-'] {
    font-family: 'cuIcon';
    font-size: inherit;
    font-style: normal;
}
.text-green,
.line-green,
.lines-green {
    color: #55a855;
}
.cu-bar .action > text[class*='cuIcon-'],
.cu-bar .action > view[class*='cuIcon-'] {
    font-size: 36rpx;
}
.cu-bar .action:first-child > text[class*='cuIcon-'] {
    margin-left: -0.3em;
    margin-right: 0.3em;
}
.cuIcon-title:before {
    content: '·';
    color: #55a855;
    font-size: 60rpx;
    line-height: 60rpx;
    /* background-image: url("https://ossweb-img.qq.com/images/lol/web201310/skin/big10001.jpg");
  width: 50rpx;
  height: 50rpx;
  background-size:100% 100%;
  z-index: 999; */
    /* overflow: hidden; */
}
.cu-list.menu-avatar {
    overflow: hidden;
}
.cu-list.menu-avatar > .cu-item {
    position: relative;
    display: flex;
    padding-right: 10rpx;
    height: 140rpx;
    background-color: white;
    justify-content: flex-end;
    align-items: center;
}
.cu-list > .cu-item {
    transition: all 0.6s ease-in-out 0s;
    transform: translateX(0rpx);
}
.cu-list.menu-avatar > .cu-item > .cu-avatar {
    position: absolute;
    left: 30rpx;
}
.cu-avatar.lg {
    width: 96rpx;
    height: 96rpx;
    font-size: 2em;
}
.cu-avatar {
    font-variant: small-caps;
    margin: 0;
    padding: 0;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    color: white;
    white-space: nowrap;
    position: relative;
    width: 64rpx;
    height: 64rpx;
    background-size: cover;
    background-position: center;
    vertical-align: middle;
    font-size: 1.5em;
}
.round {
    border-radius: 5000rpx;
}
.cu-list.menu-avatar > .cu-item .content {
    position: absolute;
    left: 146rpx;
    width: calc(100% - 96rpx - 60rpx - 120rpx - 20rpx);
    line-height: 1.6em;
}
.text-grey,
.line-grey,
.lines-grey {
    color: grey;
}
.cu-list.menu-avatar > .cu-item .content > view:first-child {
    font-size: 30rpx;
    display: flex;
    align-items: center;
}
.text-gray,
.line-gray,
.lines-gray {
    color: gray;
}
.text-sm {
    font-size: 24rpx;
}
.flex {
    display: flex;
}
.text-cut {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.cu-list.menu-avatar > .cu-item .flex .text-cut {
    max-width: 510rpx;
}
[class*='cuIcon-'] {
    font-family: 'cuIcon';
    font-size: inherit;
    font-style: normal;
}
.text-red,
.line-red,
.lines-red {
    color: red;
}
.margin-right-xs {
    margin-right: 10rpx;
}
.cu-list.menu-avatar > .cu-item .action {
    width: 100rpx;
    text-align: center;
}
.text-grey,
.line-grey,
.lines-grey {
    color: grey;
}
.text-xs {
    font-size: 20rpx;
}
.bg-grey {
    background-color: grey;
    color: white;
}
.cu-list.menu-avatar > .cu-item .action view + view {
    margin-top: 10rpx;
}
.cu-tag.sm {
    font-size: 20rpx;
    padding: 0rpx 12rpx;
    height: 32rpx;
}
.cu-tag {
    font-size: 24rpx;
    vertical-align: middle;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0rpx 16rpx;
    height: 48rpx;
    font-family: Helvetica Neue, Helvetica, sans-serif;
    white-space: nowrap;
}
.round {
    border-radius: 5000rpx;
}

.cu-card {
    /* filter: invert(1) !important; */
}

.dynamic {
    /* filter: invert(1) !important; */
}
.cu-item {
    /* filter: invert(1) !important; */
}
.shadow {
    /* filter: invert(1) !important; */
}
.cu-list {
    filter: invert(0) !important;
}
.menu-avatar {
    /* filter: invert(1) !important; */
}
@media (prefers-color-scheme: dark) {
    .VerticalBox {
        filter: invert(0) !important;
        /* filter: invert(1) !important; */
    }
    .text-green {
        color: rgb(100, 49, 49);
    }
    image {
        filter: invert(1) !important;
    }
    .ttt {
        filter: invert(1) !important;
    }
    .cuIcon-title {
        filter: invert(1) !important;
    }

    .premsg_text_text {
        filter: invert(1) !important;
    }
    .new-bg {
        background-color: black;
    }
    .bottom_b {
        filter: invert(1) !important;
    }
    .cu-card {
        /* filter: invert(1) !important; */
    }

    .dynamic {
        /* filter: invert(1) !important; */
    }
    .cu-item {
        /* filter: invert(1) !important; */
    }
    .shadow {
        /* filter: invert(1) !important; */
    }
}
